%form
  %input(type='hidden' name='_method' class='method' value='post')
  %input(type='text' name='title' class='title')
  %textarea(name='body')
  Tags:
  %input(type='text' name='tags' class='tags')
  %button.right(class='cancel') Cancel 
  %button.right(class='submit') Submit
  %div.clear
