!!! 5
html(lang="en")
  head
    title Welcome
    script(src='http://github.com/cowboy/javascript-debug/raw/master/ba-debug.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(src='main.js')
  body
    nav
      a(href='/') Home
      a(href='/yesterday') Yesterday's Items
      a(href='/today') Today's Items
    #{body}
