html,body {
	margin:0;
	padding:0;
	font-family: Helvetica;
	font-size: 12pt;
}
article,h1,summary,section,div {
	display: block;
}
article {
	margin-bottom: 15px;
}
h1 {
	font-size: 16pt;
	font-weight: normal;
	line-height: 20pt;
	margin: 0;
}
.item summary {
	font-style: italic;
}
input, button {
	line-height: 14pt;
}
input, textarea {
	display: block;
	width: 70%;
	margin-bottom: 10px;
}
input[type=text] {
	width: 99%;
}
textarea {
	width: 99%;
	height: 430px;
}

label {
	display: block;
	font-size: smaller;
}

article.selected {
	background-color: #fff5ee;
}

time {
	display: block;
}

#fixed {
	position: fixed;
	height: 100%;
}

.container {
	padding: 10px;
}

.new {
	height: 30px;
	border-bottom: 1px dotted #000;
}
#title {
	float: left;
	width: 400px;
}
.new button {
	float: left;
}

.tags {
	width:200px;
	height: 100%;
	overflow: auto;
}
.items {
	width: 400px;
	height: 100%;
	overflow: auto;
}

#tags {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#tags span {
	font-size: 70%;
}

#item .title, #item .date, #item .tags {
	width: 49%;
}
#item .date {
	text-align: right;
}



#date {
	height: 400px;
}
#date, .items {
/*
	background-color: #afafaf;
*/
	background-color: #f0f4f8;
}

#tags li.selected {
	background-color: #dcdcdc;
}

/*
#tags a {
	display: block;
	float: left;
	margin-right: 10px; margin-bottom: 10px;
}
*/

#newTag {
	clear: both;
}


.clear {
	clear: both;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.quarter {
	width: 25%;
}
.half {
	width: 50%;
}
.half2 {
	width: 49%;
}
.threeQuarter {
	width: 75%;
}

.left {
	float: left;
}
.right {
	float: right;
}

.half.left {
}
