<?xml version='1.0' encoding='utf-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Track Everything</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="/showdown.js"></script>
<script src="/tracker.js"></script>
<link rel="stylesheet" href="/style.css" />
</head>
<body>
<div id="fixed">
	<div class="left tags"><div class="container"><ul id="tags"></ul></div></div>
	<div class="left items"><div class="container"><div id="items"></div></div></div>
	<br class="clear" />
</div>

<div id="container">

	<div class="new container">
		<form><input type="hidden" name="body" value="" /><input type="hidden" name="tags" value="" /><input type="text" name="title" id="title" />
			<button class="submit">Create</button>
			<button class="search">Search</button>
		</form>
	<!--
	<a href="javascript:void((function(){var d=document,f=d.createElement("scr"+"ipt");f.src="http://tracker.greaterscope.net/add/"+encodeURIComponent(location.href);d.body.appendChild(f);})())">track</a>
	-->
	</div>

	<div id="item" class="container clear"></div>
</div>
</body>
</html>
